<!DOCTYPE html>
<html>
  <head>
    <title>YelpClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <% if current_user%>
      <script>
        window.current_user = {
          "id": <%= current_user.id %>,
          "email":"<%= current_user.email%>",
          "fname": "<%=current_user.fname%>",
          "lname": "<%=current_user.lname%>"
        };
      </script>
    <% end %>
    </script>

    <script type ="text/javascript">
      window.images = {
        session: "<%= asset_path('signup_illustration.png')%>",
        header_stars: "<%= asset_path('header_stars.png')%>",
        front_page: "<%= asset_path('front_page.jpg')%>",
        logo: "<%= asset_path('yelpLogo.png') %>",
        restaurant: "<%= asset_path('restaurant.png') %>",
        nightlife: "<%= asset_path('nightlife.png') %>",
        homeServices: "<%= asset_path('homeServices.png') %>",
        delivery: "<%= asset_path('delivery.png') %>",
        search: "<%= asset_path('search.png') %>"
      }
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
